{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About store</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to Yuliya ecommerce!</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">
                    <br/>
                    Grocery Store Website (Educational Project)
                    <br/><br/>
                    This project is designed to enhance web development skills by creating a feature-rich application,
                    to apply and learn DevOps practices, including containerization and deployment using Docker.
                    <br/><br/>
                    This project is up for grabs on <a href="https://github.com/dragoura/ecommerce.git">Github</a>.
                </p>
            </div>
        </cenetr>
    </div>
</div>

{% endblock %}